
//// navbar


.header{
    background-color: $gray-dark-color;
    padding: 1rem 0;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:$bp-medium){
      display: none;
    }
    .logo{
      height: 3.5rem;
      margin-left: 2rem;
    }
    .search{
      flex:0 0 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-input{
      background-color: #fff;
      border: 1px solid #9d8f8f;
      padding: .7rem 2rem;
      border-radius: .5rem;
      width: 90%;
      transition: all .2s;
      margin-right: -3.25rem;

      &:focus {
        outline: none;
        width: 100%;
      }
    
      &::-webkit-input-placeholder{
      font-size: 1.2rem;
      
      }
     
      }
 

      &-button{
      border: none;
      height: 100%;
      border-radius: 3px;
     
      
      &:focus{
        outline: none;
   
      }
      &:active{
        transform: translateY(2px);
      }
      }
      &-icon{
      height: 2rem;
      width: 2rem;
      background-color: #fff;
      }

    }


    .user-nav{
display: flex;
align-items: center;
align-self: stretch;

& > * {
  padding: 1rem 1.2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}


      &-icon-box{
        position: relative;
      }
      &-icon{
      height: 2.5rem;
      width: 2.5rem;
      }
      &-notification{
      height: 1.75rem;
      width: 1.75rem;
      background-color: orangered;
      border-radius: 50%;
      padding: .8rem;
      color: white;
      position: absolute;
      top: -.5rem;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(1.2rem);
      }

      &-user{

        &-profile{
          height: 3.75rem;
          margin-right: 1rem;
        }
        &-name{
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        }
      }

    }
  }
  .authenticate {
    color: white;
    font-size: 1.5rem;
    &:hover{
      color: white;
    }
  }
  .ndropdown{
    background-color: $gray-dark-color;
    border: none;
    &:hover , &:active , &:focus  {
      background-color: #34404d !important;
      box-shadow: none !important;
      border-color: $gray-dark-color !important;
    }
 
    &-name{
    font-size: 1.7rem;
    color: white;
    justify-content: center;
    }
    &-item{
      width: 13.6rem !important;
      &:hover{
        background-color: #cecfd1;
      }
      &-update{
     font-size: 1.5rem;
     color: black;
      }
      &-signout{
        font-size: 1.5rem;
        color: black;
        
      }
    }
  }